.App-container {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    color: #0a0000;
}

.lancamento {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 2rem;
}

.register-input {
    display: inline-block;
    height: 20px;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.descricao {
    display: flex;
    margin-bottom: 15px;
    text-align: start;
}

.valor {
    display: flex;
    width: 5rem;
    margin-bottom: 15px;
    text-align: start;
}

.data {
    display: flex;
    width: 6rem;
    margin-bottom: 15px;
}

.salvar {
    text-align: center;
    font-family: sans-serif;
    width: 45px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
    border: 1px;
    border-radius: 2px;
    margin-bottom: 15px;
}

.financas {
    font-size: 1em;
}