.card-financas {
    width: 20rem;
    height: 4rem;
    border: 3px solid black;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    color: black;
    text-align:left;
    
}

.card-conta { 
    font-size: 16px;
}

.card-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.card-value {
    margin-top: 5px;
    font-size: 16px;
}

.Close {
    border: 3px solid black;
    border-radius: 3px;
    background-color: black;
}

.Edit {

}

.Delete {

}